@media  screen and (min-width:768px) and (max-width: 1024px) {
    .global-width-60{
        width: 100%;
    }
    .global-width-30{
        width: 100%;
    }
    /* .d-flex{
         flex-direction: column;
        flex-wrap: wrap;
    } */
    .col-flex{
        flex-wrap: wrap;
    }
    .padding-top-5{
        padding-top:1%;
    }
    .global-button-center{
        margin: 6% 42% 0;
    }
}